/* Navbar css */

#navbg{
  background-color: #e9ebf0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 15px;
  margin-top: 0px;
  padding: 12px;
  border-radius: 12px;
}

.navu{
  display:flex;
  justify-content: space-around;
  width: 30%;
}
.navu input {
  outline: none;
}

@media (max-width: 1024px) {
  .navu{
    width: 40%;
  }
}

@media (max-width: 768px) {
  .navu{
    width: auto;
  }
}

.navu input{
  border-radius: 10px;
  border: none;
  padding: 4px;
  padding-left: 16px;
}

.navu a{
  text-decoration: none;
  color: rgba(52,50,50,0.2)
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown-content2 a:hover {background-color: #ddd;}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown:hover .dropdown-content{
   display: block;
}

#dropdown2:hover .dropdown-content2{
  display: block;
}

.icons{
  font-size: 10px;
}

/* Pagination css */

#pagenav{
  display: flex;
  justify-content: space-between;
  background-color: #e9ebf0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
}

.pagination {
  display: inline-block;
  padding-top: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 4px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


/* Cards Css */

#flex-box{
  display: grid;
  grid-template-columns: repeat(3, auto);
grid-template-rows: repeat(3, auto);
grid-row-gap: 2px;

}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  border-radius: 12px;
  color: white;
  background-color: #4999ec;
  cursor: pointer;
  font-size: 15px;
}

.card button:hover {
  opacity: 0.7;
}


.card img {
  width: 400px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.img-title{
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
margin-right: 22px;
}

.img-title h5{
  border-radius: 12px;
  border: rgba(73,153,236,0.4) solid;
  border-style: dotted;
  border-width: 2px;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.img-spec{
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  margin-right: 100px;
}

.spec{
  display: flex;
  justify-content: space-around;
}

.spec p{
  font-size: small;
}

.cardsicon{
  padding-top: 15px;
  padding-right: 10px;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  margin-right: 22px;
}

.bottom-title{
  display: flex;
  justify-content: space-around;
}

.cardsicon-bottom{
  margin: 15px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(73,153,236,0.4);
}

.bottom-title Button{
  padding-left: 18px;
  padding-right: 18px;
  height: 35px;
  margin-top: 15px;
}